<div class="text-center">
  <h1>Login</h1>
</div>

<div class="row">
  <div class="card border-primary mb-3 mt-3 col-sm-4 offset-sm-4 text-center">
    <div class="card-header">採用担当の方専用</div>
    <div class="card-body text-primary">
      <p class="card-text">email: saiyou@email.com</h5>
      <p class="card-text">password: saiyou</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(url:login_path, scope: :session) do |f| %>
      <div  class="mb-3">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div  class="mb-3">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      
      <%= f.submit "Login", class:"btn btn-primary w-100" %>
    <% end %>
  
    <p  class="mt-3">New user? <%= link_to "Sign up now!", signup_path %></p>  
  </div>
</div>
