<div class="text-center">
  <h1>Sign up</h1>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">採用担当の方専用</div>
  <div class="card-body text-primary">
    <p class="card-text">email: saiyou@email.com</h5>
    <p class="card-text">password: saiyou</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user) do |f| %>
      <%= render "layouts/error_message", model: f.object %>
      <div class="mb-3">
        <%= f.label :name, "Username" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :birthday, "Birthday" %>
        <%= f.date_select :birthday, use_month_numbers: true, start_year: 1900, end_year: Time.now.year - 1, prompt:"--", class:"main__box__bottom__content__group3__box__barthday__box from-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :city, "City" %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div class="mb-3">
      <%= f.submit "Signup", class:"btn btn-primary w-100" %>
      </div>
    <% end %>

  </div>
</div>

