<div>
  <h2 class="text-center">Profile</h2>
  <div class="row">
    <div class="card col-sm-6 offset-col-3 mx-auto">
      <div class="card-header text-center">
        <h2><%= @user.name %></h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <img class="rounded me-2 mb-5 mt-4 " src="<%= gravatar_url(@user, {size: 100}) %>" alt="">
            <% if logged_in? %>
              <%= render "posts/follow_button",  user: @user %>
            <% end %>
          </div>
          <div class="col-sm-8">
            <p class="card-text">Age:<%= (DateTime.now.to_i - @user.birthday.to_i)  / (86400* 365) %>
            </p>
            <p class="card-text">City:<%= @user.city %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <h2 class="text-center">POSTS</h2>
  <%= render "posts/index" %>
</div>