<div class="mt-3">
  <div class="text-center">
    <h1>New post</h1>
  </div>
  
  <div class="row pb-3">
    <div class="col-sm-6 offset-sm-3">
  
      <%= form_with(model: @post) do |f| %>
      <%= render "layouts/error_message", model: f.object %>
        
        <div class="mb-3">
          <%= f.label :name, "Name of place" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :genre, "Genre" %>
          <%= f.select :genre, options_for_select([['Japanese', "Japanese"], ['Chinese', "Chinese"], ['Korean', "Korean"], ['American', "American"], ['Italian', "Italian"], ['French', "French"], ['Others', "Others"]]), class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :station, "Station" %>
          <%= f.text_field :station, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.fields_for :images do |i| %>
            <%= i.file_field :image_url %>
          <% end %>
        </div>
        <div class="mb-3">
          <%= f.label :comment, "Comment" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
    
        <%= f.submit "Post", class:"btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>
