<div>
  <h2 class="mt-2 text-center">Post</h2>
  <div class="row">
    <div class="card col-sm-5 offset-col-3 mx-auto">
      <div class="card-img-top text-center">
        <% if @post.image? %>
          <%= image_tag @post.image.url, width: '80%', height: '80%' %>
        <% end %>
      </div>
      <div class="card-body border-top">
        <p class="card-text">Name of place：<%= link_to @post.name, post_path(@post), class:"text-muted" %></p>
        <p class="card-text">Genre：<%= @post.genre %></p>
        <p class="card-text">Station：<%= @post.station %></p>
        <p class="card-text">Created.at：<%= @post.created_at.to_s(:datetime_jp) %></p>
        <p class="card-text">Comment:<%= @post.comment %></p>
        <% if logged_in? %> 
          <div class="ms-4 text-center">
            <%= render "favorites/favorite_button", post: @post %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <h2 class="mt-2">User</h2>
  <div class="row">
    <div class="card col-sm-5 offset-col-3 mx-auto">
      <div class="card-header">
        <%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none" %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <img class="rounded me-2 mb-5 mt-4 " src="<%= gravatar_url(@post.user, {size: 100}) %>" alt="">
            <% if logged_in? %>
              <%= render "posts/follow_button",  user: @post.user %>
            <% end %>
          </div>
          <div class="col-sm-8 mt-4">
            <p class="card-text">Age:<%= (DateTime.now.to_i - @post.user.birthday.to_i)  / (86400* 365) %>
            </p>
            <p class="card-text">City:<%= @post.user.city %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




