<% if logged_in? %>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <%= link_to "Travelocal", root_path, class:"navbar-brand" %> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'My profile', user_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
  </nav>

<% else %>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <%= link_to "Travelocal", root_path, class:"navbar-brand" %> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Favorite</a>
          </li>
          <li class="nav-item">
            <%= link_to "Signup", signup_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
<% end %>